@import "utils.css";

.section-one-footer {
    background-color: var(--secondary-color);
    font-family: Roboto, sans-serif;
    color: var(--tertiary-color);
    height: 185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 42px 0 42px;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container img {
    width: 150px;
}

.social-content img {
    width: 48px;
    cursor: pointer;
}

.navigate-div {
    display: flex;
    gap: 64px;
    justify-content: center;
}

.navigate {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.navigate .navigate-span {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    padding: 0 0 8px 0;
    opacity: 1;
}

.navigate span {
    opacity: 0.5;
    cursor: pointer;
}

.navigate span:hover {
    opacity: 1;
    transition: 0.2ms ease-in-out;
}

.navigate span a {
    text-decoration: none;
    color: inherit;
}

.section-two-footer {
    height: 54px;
    background-color: var(--primary-color);
    font-family: Roboto, sans-serif;
    color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    padding: 0 0 8px 0;
}

.img-container {
    display: flex;
    gap: 22px;
}

@media only screen and (max-width: 950px) {
    .footer-desktop {
        display: none;
    }

    .navigate {
        color: var(--tertiary-color);
    }
}

.footer-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secondary-color);
    font-family: Roboto, sans-serif;
    gap: 26px;
    padding: 24px 0 0 0;
}

@media (min-width: 950px) {
    .footer-mobile {
        display: none;
    }
}

.copyright-mobile {
    display: flex;
    justify-content: center;
    padding: 0 0 24px 0;
}

.copyright-mobile span {
    color: var(--tertiary-color);
}

.social-content-mobile {
    display: flex;
    justify-content: center;
}

.social-content-mobile .img-container img {
    width: 48px;
    cursor: pointer;
}