@import url("utils.css");
@import "footer.css";
/* colors
var(--primary-color orange)
var(--secondary-color purple)
var(--tertiary-color white)
var(--font-color black) */

main {
    display: flex;
    justify-content: center;
}

.registration-div {
    display: flex;
    justify-content: center;
}

.registration {
    font-family: Bungee, sans-serif;
}

.hr-div {
    display: flex;
    justify-content: center;
    padding: 0 0 20px 0;
}

hr {
    width: 400px;
    height: 4px;
    background-color: orange;
    border: 0;
    border-radius: 4px;
}

.first-form {
    display: flex;
    flex-direction: column;
    padding: 0 0 16px 0;
}

.first-form input {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    height: 26px;
    background-color: #80808017;
    margin: 0 0 10px 0;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding: 16px 0 16px 0;
}

.registration-btn {
    width: 136px;
    height: 42px;
    background-color: transparent;
    color: orange;
    border: 2px solid;
    border-radius: 4px;
    font-family: Bungee, sans-serif;
    cursor: pointer;
}

.first-form, .second-form {
    font-family: Roboto, sans-serif;
}

/* Increase the size of checkboxes */
.second-form input[type="checkbox"] {
    width: 16px; /* Adjust the width */
    height: 16px; /* Adjust the height */
}
