@import url("utils.css");
@import "footer.css";
@import "header.css";
/* colors
var(--primary-color orange)
var(--secondary-color purple)
var(--tertiary-color white)
var(--font-color black) */

body {
    background-color: var(--tertiary-color);
}

main {
    position: relative;
    left:340px; top:64px; right:0; bottom:0;
    width: 1036px;
    height: 100vh;
}

.profile-content {
    display: flex;
    align-items: center;
    font-family: "Bungee", sans-serif;
    background-color: var(--secondary-color);
    border-radius: 4px;
    width: 1036px;
    height: 140px;
    color: white;
}

.profile-img {
    margin-left: 40px;
    margin-right: 40px;
}

.profile-platforms {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 440px;
    border-radius: 4px;
    border: 2px solid var(--primary-color);;
}

.profile-platforms p {
    margin: 1rem 1.5rem 1rem 1.5rem;
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
}
.profile-platforms i {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin: 0 2rem 0 2rem;
    color: var(--secondary-color);
}
.row {
    border-top: 2px solid var(--primary-color);
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}
.column-border {
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--primary-color);
}

h2 {
    font-family: "Bungee", sans-serif;
    margin: 0 1.5rem 0 1.5rem;
    font-size: 1.5rem;
}
#profile-platforms {
    display: flex;
    flex-direction: row;
}
#profile-about {
    display: flex;
    flex-direction: row;
}

.profile-groups {
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 4rem;
    width: 532px;
    border-radius: 4px;
    border: 2px solid var(--primary-color);;
}
.profile-about {
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 440px;
    border-radius: 4px;
    border: 2px solid var(--primary-color);
}
.profile-about p {
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
.grey {
    opacity: 60%;
    margin-top: 1rem;
}
header {
    position: absolute;
    height: 100vh;
}
footer {
    position: relative;
}

.profile-activity {
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 4rem;
    width: 532px;
    border-radius: 4px;
    border: 2px solid var(--primary-color);;
}
.profile-activity p {
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.main-hexagon {
    height: 95px;
}
.secondary-hexagon {
    margin: 12px;
}

.profile-hexagon-main {
    margin: 0 1rem 0 2rem;
}

.profile-hexagon-secondary {
    display: flex;
    flex-direction: column;

}
.profile-info {
    margin-left: 2rem;
}



