@import url("utils.css");
/* colors
var(--primary-color orange)
var(--secondary-color purple)
var(--tertiary-color white)
var(--font-color black) */

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-color);
}

.section-swipe {
  display: flex;
  position: relative;
  flex-direction: column;
}

.section-swipe-hexagon {
  height: 70vh;
  aspect-ratio: 2 / 3;
  perspective: 1000px;
  perspective-origin: center 50%;
  transform-style: preserve-3d;
}
.section-swipe-hexagon img {
  height: 250px;
  width: 300px;
}
.section-swipe-hexagon-username {
  font-size: 1.5rem;
  color: #3f3131;
}
.section-swipe-h4 {
  font-size: 1rem;
  font-family: "Bungee", sans-serif;
  font-weight: 500;
  color: var(--secondary-color);
}
.section-swipe-card {
  display: flex;
  margin-top: 56px;
  gap: 20px;
}
.swipe-card-left {
  background-color: var(--primary-color);
  width: 110px;
  height: 154px;
  border-radius: 4px;
}
.swipe-card-left h4 {
  display: flex;
  justify-content: center;
  margin: 6px;
}
.swipe-card-left-behavior-img .swipe-card-right-platform-img {
  margin-top: 80px;
}
.swipe-card-right {
  background-color: var(--primary-color);
  width: 170px;
  height: 154px;
  border-radius: 4px;
}
.swipe-card-right h4 {
  display: flex;
  justify-content: center;
  margin: 6px;
}
.section-swipe-hexagon {
  width: 300px;
  height: 250px;
}
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  transform: translateZ(calc(-30px * var(--i)))
    translateY(calc(-5px * var(--i))) rotate(calc(-4deg * var(--i)));
  filter: drop-shadow(0.5px 0.5px 5px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  user-select: none;
  transition: transform 0.5s;
}
#like,
#dislike {
  font-size: 5vh;
  border-radius: 50%;
  padding: 20px;
  z-index: 1;
  animation-name: animation1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-play-state: paused;
  position: absolute;
}
#like.trigger,
#dislike.trigger {
  animation-name: animation2;
}
#like {
  color: red;
  background-color: rgba(255, 255, 255, 0.5);
  top: 480px;
  right: 0;
  /* top: 120px;
  left: 350px; */
}
#dislike {
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.5);
  top: 480px;
  right: 202px;
  /* top: 120px;
  right: 350px; */
}
@keyframes animation1 {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
@keyframes animation2 {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
@media only screen and (min-width: 768px) {
  #like {
    top: 120px;
    left: 350px;
  }
  #dislike {
    top: 120px;
    right: 350px;
  }
}
