@import url("utils.css");
@import "footer.css";

/* colors
var(--primary-color orange)
var(--secondary-color purple)
var(--tertiary-color white)
var(--font-color black) */

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.section-swipe {
  position: relative;
  flex-direction: column;
}

.section-swipe-hexagon {
  width: 60vw;
  height: 40vh;
  min-width: 500px;
  perspective: 1000px;
  perspective-origin: center 50%;
  transform-style: preserve-3d;
  margin-left: 200px;
  margin-top: -400px;
}

.section-swipe-hexagon img {
  height: 70%;
  width: 70%;
}

.section-swipe-hexagon-username {
  font-size: 3vw;
  color: #3f3131;
  position: absolute;
  top: 85%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.section-swipe-hexagon-user-image {
  position: absolute;
  top: 53%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
}

.section-swipe-hexagon-user-image img {
  width: 45%;
  height: 75%;
  border-radius: 50%;
  object-fit: cover;
}

.section-swipe-h4 {
  font-size: 1rem;
  font-family: "Bungee", sans-serif;
  font-weight: 500;
  color: var(--secondary-color);
}

.swipe-card-left {
  background-color: var(--primary-color);
  width: 200px;
  height: 200px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 270px;
}

.swipe-card-right {
  background-color: var(--primary-color);
  width: 200px;
  height: 200px;
  border-radius: 4px;
  position: absolute;
  top: 220px;
  left: 270px;
}

.swipe-card-left h4,
.swipe-card-right h4 {
  display: flex;
  justify-content: center;
  margin: 6px;
}

.swipe-card-left-behavior-img .swipe-card-right-platform-img {
  margin-top: 80px;
}

.card {
  width: 100%;
  height: 100%1;
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  transform: translateZ(calc(-30px * var(--i))) translateY(calc(-10px * var(--i))) rotate(calc(4deg * var(--i)));
  filter: drop-shadow(0.5px 0.5px 5px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  user-select: none;
  transition: transform 0.5s;
}

#like,
#dislike {
  font-size: 5vh;
  border-radius: 50%;
  padding: 20px;
  z-index: 1;
  animation-name: animation1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-play-state: paused;
  position: absolute;
}

#like.trigger,
#dislike.trigger {
  animation-name: animation2;
}

#like {
  color: red;
  background-color: rgba(255, 255, 255, 0.5);
  top: -110px;
  left: 450px;
}

#dislike {
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.5);
  top: -110px;
  left: 200px;
}

@keyframes animation1 {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

@keyframes animation2 {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
}

.footer-mobile,
.footer-desktop {
  position: absolute; 
  bottom: -200px; 
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  #dislike {
    top: 40vh;
    left: 5vw;
  }

  #like {
    top: 40vh;
    left: 40vw;
  }

  .section-swipe {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 50px;
    top: -300px;
    left: 0;
  }

  .section-swipe-hexagon {
    width: 60vw;
    height: 40vh;
    margin-left: 80px;
    margin-top: 50px;
    max-width: 1100px;
  }

  .swipe-card-left,
  .swipe-card-right {
    width: 80%;
    max-width: 300px;
    height: 200px;
    border-radius: 4px;
    position: absolute;
    top: 150%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  .swipe-card-right {
    left: 30%;
    transform: translate(50%, -50%);
  }
}
