@import url("utils.css");
@import "footer.css";
/* colors
var(--primary-color orange)
var(--secondary-color purple)
var(--tertiary-color white)
var(--font-color black) */

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.section-swipe {
  position: relative;
  flex-direction: column;
  margin-top: 50px;
}

.section-swipe-hexagon {
  width: 60vw;
  height: 40vh;
  perspective: 1000px;
  perspective-origin: center 50%;
  transform-style: preserve-3d;
}

.section-swipe-hexagon img {
  height: 70%;
  width: 70%;
}

.section-swipe-hexagon-username {
  font-size: 1.5rem;
  color: #3f3131;
  position: absolute; /* Position the username element within its parent container */
  top: 70%; /* Position at the vertical center of the parent container */
  left: 25%; /* Position at the horizontal center of the parent container */
}

.section-swipe-hexagon-user-image {
  position: absolute;
  top: 54%;
  left: 59%;
  transform: translate(-50%, -50%);
  width: 90%; /* Adjust the width and height as needed */
  height: 90%;
}

.section-swipe-hexagon-user-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover; 
}

.section-swipe-h4 {
  font-size: 1rem;
  font-family: "Bungee", sans-serif;
  font-weight: 500;
  color: var(--secondary-color);
}

.swipe-card-left {
  background-color: var(--primary-color);
  width: 200px;
  height: 200px;
  border-radius: 4px;
  position: absolute;
  top: 54vh;
  left: 60px;
}

.swipe-card-left h4 {
  display: flex;
  justify-content: center;
  margin: 6px;
}

.swipe-card-left-behavior-img .swipe-card-right-platform-img {
  margin-top: 80px;
}

.swipe-card-right {
  background-color: var(--primary-color);
  width: 200px;
  height: 200px;
  border-radius: 4px;
  position: absolute;
  top: 72vh;
  left: 60px;
}

.swipe-card-right h4 {
  display: flex;
  justify-content: center;
  margin: 6px;
}

.section-swipe-hexagon {
  width: 60vw;
  height: 40vh;
}

.card {
  width: 100%;
  height: 100%1;
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  transform: translateZ(calc(-30px * var(--i)))
    translateY(calc(-10px * var(--i))) rotate(calc(4deg * var(--i)));
  filter: drop-shadow(0.5px 0.5px 5px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  user-select: none;
  transition: transform 0.5s;
}

#like,
#dislike {
  font-size: 5vh;
  border-radius: 50%;
  padding: 20px;
  z-index: 1;
  animation-name: animation1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-play-state: paused;
  position: absolute;
}

#like.trigger,
#dislike.trigger {
  animation-name: animation2;
}

#like {
  color: red;
  background-color: rgba(255, 255, 255, 0.5);
  top: 43vh;
  left: 180px;
  /* top: 120px;
  left: 350px; */
}

#dislike {
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.5);
  top: 43vh;
  left: 50px;
  /* top: 120px;
  right: 350px; */
}

@keyframes animation1 {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

@keyframes animation2 {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
}

.footer-mobile {
  position: absolute;
  bottom: -300px;
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  #like {
    top: 52vh;
    left: 50vw;
  }

  #dislike {
    top: 52vh;
    left: 50px;
  }

  .section-swipe {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 50px;
    top: -300px;
    left: 0;
  }

  .swipe-card-left {
    background-color: var(--primary-color);
    width: 300px;
    height: 300px;
    border-radius: 4px;
    position: absolute;
    top: 63vh;
    left: 14vw;
  }
  
  .swipe-card-left h4 {
    display: flex;
    justify-content: center;
    margin: 6px;
  }
  
  .swipe-card-left-behavior-img .swipe-card-right-platform-img {
    margin-top: 80px;
  }
  
  .swipe-card-right {
    background-color: var(--primary-color);
    width: 300px;
    height: 300px;
    border-radius: 4px;
    position: absolute;
    top: 63vh;
    left: 34vw;
  }
  
  .swipe-card-right h4 {
    display: flex;
    justify-content: center;
    margin: 6px;
  }

  .card {
    transform: translateZ(calc(-60px * var(--i)))
      translateY(calc(-20px * var(--i))) rotate(calc(4deg * var(--i)));
  }

  .footer-desktop {
    position: absolute;
    bottom: -300px;
    width: 100vw;
  }
}
